<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span i18n="@@admin-page-title">Page administrateur pour</span>
      <button mat-button (click)="addAttraction()" i18n="@@admin-add">Ajouter</button>
      <span i18n="@@admin-page-title-suffix">, modifier et supprimer des attractions</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="attraction-title">
      <div class="attraction">
        <span i18n="@@admin-col-name">Nom de l'attraction</span>
        <span i18n="@@admin-col-desc">Description de l'attraction</span>
        <span i18n="@@admin-col-diff">Difficulté de l'attraction / 5</span>
        <span i18n="@@admin-col-visible">Visible</span>
      </div>
    </div>
    <ng-container *ngIf="attractions | async">
      <ng-container *ngFor="let formulaireAttraction of formulaireAttractions; let indexForm = index;"
        [formGroup]="formulaireAttraction"
        style="display: flex; flex-direction: column;"
      >
        <div class="attraction">
          <mat-form-field class="champ" appearance="fill">
            <mat-label i18n="@@admin-field-name">Nom</mat-label>
            <input matInput formControlName="nom">
          </mat-form-field>
      
          <mat-form-field class="champ" appearance="fill">
            <mat-label i18n="@@admin-field-desc">Description</mat-label>
            <input matInput formControlName="description">
          </mat-form-field>
  
          <mat-form-field class="champ" appearance="fill">
            <mat-label i18n="@@admin-field-diff">Difficulté / 5</mat-label>
            <input matInput formControlName="difficulte" type="number" min="0" max="5">
          </mat-form-field>

          <mat-slide-toggle class="champ" formControlName="visible" i18n="@@admin-field-visible">Element visible</mat-slide-toggle>

          <button mat-button (click)="onSubmit(formulaireAttraction)" class="champ" i18n="@@admin-save">Enregistrer</button>
        </div>
      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>

